<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohamedfawzy.bookstrade">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="activities.signup_activity" />
        <activity android:name="activities.MainActivity"
            />
        <activity android:name="activities.SettingsActivity"
            android:theme="@style/AppTheme_2"
            android:label="Settings"
            android:parentActivityName="activities.MainActivity"/>
        <activity android:name="activities.PrivacyActivity"
            android:theme="@style/AppTheme_2"
            android:label="Privacy Policy"
            android:parentActivityName="activities.MainActivity"/>
        <activity android:name="activities.AboutActivity"
            android:theme="@style/AppTheme_2"
            android:label="About Us"
            android:parentActivityName="activities.MainActivity"/>
        <activity android:name="activities.ProfileActivity"
            android:theme="@style/AppTheme_2"
            android:label="MyProfile"
            android:parentActivityName="activities.MainActivity"/>
    </application>

</manifest>